@import url(reset.css);

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Light';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
  font-weight:400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
  font-weight:600;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* common */
a {
  text-decoration: none;
  color: #333;
}

#wrap {
  position: relative;
  overflow: hidden;
}

/* 지수 */
/* header */
#header {
  position: relative;
  width: 1920px;
}
.header_inner1,
.header_inner2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1320px;
  max-width: 1320px;
  margin: 0 auto;
  padding: 17px 15px;
}
/* 주황색 라인 */
.header_inner1::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 1920px;
  height: 2px;
  background-color: #ff8a3d;
}

/* 로고 */
h1.logo>a {
  display: inline-block;
  width: 168px;
  height: 47px;
  background: url(../images/index/source/images/logo_main.png) no-repeat 0 0;
  background-size: contain;
  text-indent: -9999px; overflow:hidden;
}

/* 검색창 */
.srch_input {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  left: -55px;
  width: 480px;
  height: 50px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: #f2f3f6;
  text-indent: -9999px;
}
.srch_input input {
  flex: 1;
  border: 0;
  background-color: transparent;
  color: black;
  font-size: 15px;
  text-indent: 14px;
}
.srch_input input:focus,
.srch_input input:active {
  outline: none;
}
.srch_input input::placeholder {
  color: #777;
  font-family: 'Pretendard-Regular';
}
/* x 버튼 삭제 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}

.bg-SEARCH {
  display: block;
  position: relative;
  width: 34px;
  height: 34px;
  background-color: #fff;
  border-radius: 100px;
}
.bg-SEARCH::after {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: 19px;
  width: 18px;
  height: 18px;
  background: url("../images/index/source/icon/css_sprites.png") -53px -117px;
  transform: translate(-50%, -50%);
  z-index: 5;
}

/* 채팅하기 */
.btn_chat {
  display: block;
  padding: 17px 24px 16px;
  background-color: #ff8a3d;
  border-radius: 100px;
  color: #fff;
  font-family: 'GmarketSansMedium';
  font-size: 15px;
}

/* 주메뉴 */
#nav ul {
  display: flex;
  align-items: center;
  gap: 24px;
  line-height: 0px;
  font-size: 15px;
  font-family: 'GmarketSansMedium';
}
#nav ul li a:hover {
  color: #9f9f9f;
}

/* 탑메뉴 */
.topMenu {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: 'GmarketSansMedium';
}
.topMenu a {
  font-size: 15px;
  color: #9f9f9f;
}
.topMenu a:hover {
  color: #333;
}

/* 중고거래 카테고리 */
.category_menu {
  position: relative;
}
.category_title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  color: #333;
  font-family: 'GmarketSansBold';
}

/* 햄버거 */
.category_title::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  transition-delay: .1s;
  background: url("../images/index/source/icon/css_sprites.png") -10px -117px;
}
/* 햄버거 클릭하면 좌측 화살표로 변경 */
.category_title.on::before {
  background: url("../images/index/source/icon/arrow_left.png") no-repeat center;
}
a.btn_left_arrow {
  position:absolute !important;  
  width:1px; 
  height:1px; 
  overflow:hidden;
  clip:rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip:rect(1px, 1px, 1px, 1px);
}

/* 하위메뉴 */
.menu_wrap {
  position: absolute;
  left: -40px;
  top: 40px;
  width: 290px;
  height: 0;
  padding: 0 40px;
  font-family: 'Pretendard-Regular';
  background-color: #fff;
  overflow: hidden;
  transition: all .4s ease-out;
  z-index: 10;
}
/* 하위메뉴 슬라이드 */
.slide_menu {
  max-height: 0;
  background-color: #fff;
  overflow: hidden;
  transition: max-height .4s ease-out;
}
.slide_menu.active {
  /* active 붙었을때 border 제거 (border-top으로 할 경우 안사라짐) */
  border: 0;
  transition: max-height .4s ease-out;
}

/* 하위메뉴 타이틀 */
.menu_title {
  position: relative;
}
.menu_title>ul>li.menu_p {
  line-height: .7;
}
.menu_title>a {
  display: flex;
  align-items: center;
  padding: 12px 17px 12px;
  gap: 20px;
  border-bottom: 2px solid #d9d9d9;
  box-sizing: border-box;
  font-size: 15px;
  font-family: 'Pretendard-Bold';
}
.title_top a {
  border-top: 4px solid #d9d9d9;
  /* border-top-width: 4px; */
}
.title_beauty>a {
  text-indent: -5px;
}
.menu_p a {
  display: block;
  font-size: 15px;
  color: #191919;
}

/* 하위메뉴 아이콘 */
.title_top>a::before {
  background: url("../images/index/source/icon/css_sprites_accordion.png") -10px -10px;
}

.title_life>a::before {
  background: url("../images/index/source/icon/css_sprites_accordion.png") -54px -10px;
}

.title_digital>a::before {
  background: url("../images/index/source/icon/css_sprites_accordion.png") -10px -54px;
}

.title_fashion>a::before {
  background: url("../images/index/source/icon/css_sprites_accordion.png") -54px -54px;
}

.title_beauty>a::before {
  margin-left: 5px;
  background: url("../images/index/source/icon/css_sprites_accordion.png") -140px -10px;
}

.title_pet>a::before {
  background: url("../images/index/source/icon/css_sprites_accordion.png") -98px -49px;
}

.title_car>a::before {
  background: url("../images/index/source/icon/css_sprites_accordion.png") -98px -10px;
}
.title_top a::before,
.title_life a::before,
.title_digital a::before,
.title_fashion a::before,
.title_beauty a::before,
.title_pet a::before,
.title_car a::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
}

/* 하위메뉴 화살표 */
.menu_title:nth-of-type(2)>a:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 240px;
  width: 30px;
  height: 30px;
  background: url(../images/index/source/icon/ico_arrow_top.svg) no-repeat 8px 10px;
  transform: rotate(-90deg);
}
.menu_title:nth-of-type(3)>a::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 240px;
  width: 30px;
  height: 30px;
  background: url(../images/index/source/icon/ico_arrow_top.svg) no-repeat 8px 10px;
  transform: rotate(-90deg);
}
.menu_title:nth-of-type(4)>a::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 240px;
  width: 30px;
  height: 30px;
  background: url(../images/index/source/icon/ico_arrow_top.svg) no-repeat 8px 10px;
  transform: rotate(-90deg);
}
.menu_title:nth-of-type(6)>a::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 240px;
  width: 30px;
  height: 30px;
  background: url(../images/index/source/icon/ico_arrow_top.svg) no-repeat 8px 10px;
  transform: rotate(-90deg);
}
.menu_title:nth-of-type(7)>a::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 240px;
  width: 30px;
  height: 30px;
  background: url(../images/index/source/icon/ico_arrow_top.svg) no-repeat 8px 10px;
  transform: rotate(-90deg);
}
/* active 붙으면 화살표 변경 */
.menu_title.active:nth-of-type(2)>a:after {
  background-position: 15px 46%;
  transform: rotate(90deg);
}
.menu_title.active:nth-of-type(3)>a:after {
  background-position: 15px 46%;
  transform: rotate(90deg);
}
.menu_title.active:nth-of-type(4)>a:after {
  background-position: 15px 46%;
  transform: rotate(90deg);
}
.menu_title.active:nth-of-type(6)>a:after {
  background-position: 15px 46%;
  transform: rotate(90deg);
}
.menu_title.active:nth-of-type(7)>a:after {
  background-position: 15px 46%;
  transform: rotate(90deg);
}

/* 하위메뉴 내용 */
.cont_life,
.cont_digital,
.cont_fashion,
.cont_pet,
.cont_car {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  /* 하위메뉴에 있던 상하 패딩 제거 */ 
  padding: 0 20px;
  background-color: #fff;
}
/* 하위메뉴 각 마지막 자식의 bottom에만 여백 주기 */
.menu_p:last-child a{
  padding-bottom: 20px;
}
.cont_life,
.cont_digital,
.cont_fashion,
.cont_pet {
  border-bottom: 2px solid #d9d9d9;
  background-color: #fff;
}
.cont_car {
  border-bottom: 4px solid #d9d9d9;
}
.cont_car {
  margin-bottom: 30px;
}

/* 배너 section */
#banner {
  position: relative;
  width: 1920px;
  height: 1010px;
}
.banner_wrap {
  width: 1920px;
  height: 1010px;
  overflow: hidden;
}
.banner_frame {
  display: flex;
  position: relative;
  width: fit-content;
  height: 100%;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  transform: translateX(-1920px);
}
.banner_frame section {
  position: relative;
  width: 1920px;
  height: 100%;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  background-position: center;
}
/* 각 배너 이미지 */
.banner_frame section:nth-child(1) {
  background-image: url(../images/index/source/images/main_image_4.png);
  background-size: cover;
  z-index: 1;
}
.banner_frame section:nth-child(2) {
  background-image: url(../images/index/source/images/main_image_1.png);
  background-size: cover;
  z-index: 4;
}
.banner_frame section:nth-child(3) {
  background-image: url(../images/index/source/images/main_image_2.png);
  background-size: cover;
  z-index: 3;
}
.banner_frame section:nth-child(4) {
  background-image: url(../images/index/source/images/main_image_3.png);
  background-size: cover;
  z-index: 2;
}
.banner_frame section:nth-child(5) {
  background-image: url(../images/index/source/images/main_image_4.png);
  background-size: cover;
  z-index: 1;
}
.banner_frame section:nth-child(6) {
  background-image: url(../images/index/source/images/main_image_1.png);
  background-size: cover;
  z-index: 4;
}

/* 배너 텍스트 */
.banner_item > article {
  position: absolute;
  bottom: 140px;
  left: 210px;
  text-align: left;
}
.banner_item h3 {
  display: block;
  margin-bottom: 15px;
  color: #fff;
  font-size: 66px;
  font-family: 'Pretendard-Bold';
}
.banner_item ul li {
  font-family: 'Pretendard-Regular';
  font-size: 24px;
  color: #fff;
}
.download {
  margin-top: 67px;
  font-size: 20px;
  color: #fff;
  display: block;
  font-family: 'Pretendard-SemiBold';
  margin-bottom: 18px;
  width: fit-content;
}
.app_store {
  display: flex;
  align-items: center;
  gap: 17px;
}
.app_store a {
  background-color: #fff;
  border-radius: 100px;
  display: block;
  padding: 20px 26px;
  box-sizing: border-box;
}
.app_store a img {
  width: 180px;
  display: block;
}
/* 홀수번째 텍스트 색상 (4번 슬라이드 복제로 인해 4번-2번-4번(1,3,5번째) 이미지에 해당) */
.banner_item:nth-child(odd) ul li,
.banner_item:nth-child(odd) h3 {
  color: #191919;
}
.banner_item:nth-child(odd) .download {
  color: #191919;
}

/*  좌우버튼 */
.arrow>a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 75px;
  height: 75px;
  background: url(../images/index/source/icon/btn_arrow_mainimg.png) no-repeat 0 0;
  text-indent: -9999px;
}
.arrow>a.prev {
  left: 50px;
}
.arrow>a.next {
  right: 50px;
  background-position: -75px;
}
.prev, .next {
  z-index: 9999;
}

/* 페이지네이션 */
.rolling {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  z-index: 10;
  text-indent: -9999px;
}
.banner_roll {
  display: flex;
  align-items: center;
  gap: 15px;
}
/* 현재 보이지 않는 페이지의 버튼 */
.banner_roll a {
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background-color: #fff;
  display: block;
}
/* 현재 보여지는 페이지에서 길어지는 버튼 */
.banner_roll a.active {
  width: 45px;
  transition: width 0.4s ease-in-out;
}
/* 짝수 페이지에서 색상 변경 */
.banner_roll.even a {
  background-color: #191919;
}
/* //지수 */

/* 지윤 */

/* 인기검색어 전체 섹션 */
article.popular_search_words {
position: relative;
width: 1320px;
height: auto;
margin: 0 auto;
margin-top: 150px;
}

/* '인기검색어 메인 텍스트 서식*/
h3.title_psw {
margin-bottom: 50px; /*타이틀과 픽토그램 간 마진 조절*/
color: #191919;
font-family: 'GmarketSansBold';
font-style: normal;
font-size: 30px;
text-align: center;
line-height: 50px;
letter-spacing: 0.06em;
}


/* 인기검색어 픽토그램, 텍스트 전체 row */
div.graphics_psw {
display: flex;
justify-content: space-around;
position: relative;
clear: both;
width: 1320px;
height: auto;
}

/* 인기검색어 픽토그램, 텍스트 한 묶음 (세로) */
div.bundle_psw {

   
}
div.bundle_psw a {
  display: block;
  width: 100px;
  height: 120px; 
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;  
}

div.graphics_psw div.bundle_psw img{
width: 80%;
cursor: pointer;
transition: all 0.5s;
}

/* 인기검색어 hover 효과 */
div.bundle_psw img:hover {
  transform: scale(1.3);
  transition: transform 0.5s;
}

div.graphics_psw div.bundle_psw span {
display: block;
height: 19px;
font-family: 'Inter', sans-serif;
font-family: 'Pretendard-Regular';
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #191919;
line-height: 100%;
}

/* 중고거래 인기매물 시작 */

/* 중고거래 인기매물 전체 섹션 */
article.sec_hand_transaction {
width: 1320px;
height: auto;
margin: 0 auto;
margin-top: 200px;
}

/* '중고거래인기매물 메인 텍스트 서식*/
article.sec_hand_transaction h3 {
margin-bottom: 50px; /*타이틀과 픽토그램 간 마진 조절*/
color: #191919;
font-family: 'GmarketSansBold';
font-style: normal;
font-size: 30px;
text-align: center;
line-height: 50px;
letter-spacing: 0.06em;
}

/* 중고거래 인기매물 row */
div.wrap_sht, div.wrap_sht_02 {
width: 950px;
height: auto;
margin: 0 auto;
margin-bottom: 30px;
}
ul.list_row_sht {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  row-gap: 40px;
}

ul.list_row_sht > li img {
width: 200px;
height: 200px;
border-radius: 10px; /*이미지 둥글게*/
cursor: pointer;
}

/* 중고거래 인기매물 개별 번들 p 태그 속성 */
ul.list_row_sht > li p {
width: 200px;
color: #333333;
font-family: 'Inter', sans-serif;
font-family: 'Pretendard-Regular';
font-style: normal;
font-weight: 400;
font-size: 13px;
letter-spacing: -0.05em;
}

/* 중고거래 인기매물 매물 이름 */
ul.list_row_sht > li p.title_sht {
height: 16px;
margin-top: 15px; /* 이미지, 이름 사이 간격*/
margin-bottom: 7px; /* 이름, 가격 사이 간격*/
font-size: 13px;
line-height: 16px;
cursor: pointer; /* 이름 클릭 효과 */
}

/* 중고거래 인기매물 매물 가격 박스 */
ul.list_row_sht > li p.price_sht {
height: 16px;
margin-bottom: 6px; 
}

/* 가격 숫자 부분 텍스트 */
ul.list_row_sht > li p.price_sht span:first-child {
  font-size: 13px;
  font-weight: 600;
}

/* 가격 '원' 부분 텍스트 */
ul.list_row_sht > li p.price_sht span:last-child {
  font-size: 10px;
  font-weight: 600;
  margin-left: 1px;
}

/* 중고거래 인기매물 주소 텍스트 */
ul.list_row_sht > li p.address_sht {
margin-bottom: 4.5px;
font-size: 10px;
font-weight: 400;
}

/* 중고거래 인기매물 관심, 채팅 텍스트 */
ul.list_row_sht > li p.chat_sht {
color: #777777;
font-size: 10px;
font-weight: 400;
}

/* 인기 중고매물 더 보기 */

a.text_more_wrap, a.text_downsize_wrap {
display: block;
text-align: center;
}
a.text_downsize_wrap {
  display: none;
}

a.text_more_wrap, a.text_downsize_wrap {
  color: #888;
  font-family: 'Inter', sans-serif;
  font-family: 'Pretendard-Regular';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  text-decoration: underline;
}

a.text_more_wrap img {
  margin-left: 3px;
  transform: rotate(180deg)
}


/* 중고거래 인기매물 더보기 닫아둠 */
div.wrap_sht_02 {
display: none;
}

/* 띠배너 */
article.banner_line_img {
position: relative;
width: 1920px;
margin-top: 150px;
}

article.banner_line_img div.button_img {
position: absolute;
top: 60px;
left: 1120px;
width: 232px;
height: 88px;
background: #fff;
border-radius: 99px;
cursor: pointer;
}

article.banner_line_img div.button_img_2 {
top: 60px;
left: 1400px;
}

article.banner_line_img div.button_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* //지윤  */

/* 규선 */
section{
  width: 1920px;
}

/* 당근페이 메인 이미지 */
article.pay-main-img{
  width: 1920px;
}
article.pay-main-img>img{
  width: 100%;
}

/* 당근페이 상세 화면 */
article.pay-detail-img {
  position: relative;
  clear: both;
  width: 1920px;
  height: 1080px;
  padding: 171px 0;
  background-color: #EDF8E7;
  box-sizing: border-box;
}
  div.pay-detail-inner{
    position: relative;
    width: 1320px;
    height: 740px;
    padding: 0 20px;
    margin:0 auto;
    box-sizing: border-box;
  }
      /* 당근페이 캐러셀 */
      ul.product-carousel{
        width: 40%;
        float: right;
        position: relative;
        margin: 35px 100px 0 0;
      }
        .product-carousel > li{
          position: absolute;
          left: 50%;
          top: 0;
          width: 75%;
          height: 100%;
          cursor: pointer;
          transition: transform 1.3s cubic-bezier(0.19, 1, 0.22, 1);
          z-index: 1;
        }
        .product-carousel > li.item1 {
          z-index: 3;
          transform: translateX(-50%) scale(1) translate3d(0,0,0);
        }
        .product-carousel > li.item4{
          z-index: 1;
          transform: translateX(-50%) translateY(100px) scale(0.7) translate3d(80%,-31%,0);
          filter: blur(3px);
        }
        .product-carousel > li.item2{
          z-index: 0;
          transform: translateX(-50%) translateY(100px) scale(0.7) translate3d(-80%,-31%,0);
          filter: blur(3px);
        }
        .product-carousel > li.item3{
          z-index: 0;
          transform: translateX(-50%) translateY(100px) scale(0.7) translate3d(0,0,0);
        }
        .product-carousel > li>img{width: 100%;}

      /* 캐러셀 방향키 */
      button.carousel-nav{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        border-top: 2px solid #FF8A3D;
        border-right: 2px solid #FF8A3D;
        border-left: none;
        border-bottom: none;
        background-color: transparent;
        outline: 0;
        cursor: pointer;
        text-indent: -9999px;
      }
        button.prev{
          left: 42%;
          transform: rotate(-135deg);
        }
        button.next {
          left: 99%;
          transform: rotate(45deg);
        }

      /* 당근페이 텍스트 */
      div.pay-detail-txt{
        position: absolute;
        top: 50%;
        width: 30%;
        transform: translateY(-50%);
      }
        p.pay-title{
          position: relative;
          font-size: 30pt;
          line-height: 1.8;
          font-family: 'GmarketSansBold';
        }
          p.pay-title > span {
            color: #FF8A3D;
          }
        p.pay-subtitle {
          position: relative;
          font-family: 'Pretendard-Light';
          font-size: 16pt;
          line-height: 1.5;
        }
    
    /* 자주 묻는 질문 */
    article.faq{
      width: 1139px;
      height: auto;
      margin: 0 auto 77px;
      padding-top: 160px;
    }
    article.faq::after{
      content: "";
      display: block;
      clear: both;
    }
      div.faq-main-txt{
        text-align: center;
        margin-bottom: 58px;
        font-family: 'Pretendard-SemiBold';
        font-size: 20pt;
      }
      div.accordion-wrap {
        position: relative;
        clear: both;
      }
        div.que{
          position: relative;
          cursor: pointer;
          padding: 40px 0;
          border-bottom: 1px solid #AEB1B9;
          font-family: 'Pretendard-SemiBold';
          font-size: 13pt;
        }
        div.que:first-child{
          border-top: 1px solid #AEB1B9;
        }
          div.que::before{
            display: inline-block;
            content: "Q.";
            font-size: 13pt;
            color: #FF8A3D;
            margin: 0 5px 0 20px;
          }
          div.arrow-wrap{
            position: absolute;
            top: 35%;
            right: 10px;
            font-size: 20pt;
          }
            div.arrow-wrap > span.arrow-plus{
              display: block;
              transition: all .5s;
            }
            div.que.on span.arrow-plus {
              color: #FF8A3D;
              transform: rotate(45deg);
              transition: all .5s;
              font-size: 20pt;
            }
        div.anw{
          display: none;
          overflow: hidden;
          padding:33px 0 33px 45px ;
          border-bottom: 1px solid #AEB1B9;
          font-family: 'Pretendard-Light';
          font-size: 13pt;
          line-height: 1.4;
        }
          div.anw .main-color {
            color: #FF8A3D;
            text-decoration: underline;
          }
          div.anw .pointer {
            cursor: pointer;
          }
          div.anw p.qna-bold {
            font-family:'Pretendard-SemiBold';
          }
          div.anw > ul{
            list-style:disc;
            list-style-position: inside;
          }
          div.anw > div.qna-img-wrap{
            width: 768px;
            margin: 10px 0 30px 0;
          }
          div.anw img {
            width: 100%;
            border-radius: 25px;
          }
        a.faq-button{
          float: right;
          width: 140px;
          height: 65px;
          border-radius: 15px;
          margin-top: 33px;
          text-align: center;
          line-height: 65px ;
          cursor: pointer;
          font-family:'Pretendard-SemiBold';
          color: #fff;
          background-color: #191919;
        }
      
    /* 푸터 상단 이미지 */
    div.foot-img-container{
      width: 1920px;
      height: 900px;
      background-color: #FFFAF6;
    }
      div.foot-slogan {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 120px;
        height: 350px;
      }
        div.foot-slogan > img{
          width: 424px;
          height: 119px;
        }
      div.foot-img {
        width: 1158px;
        margin: 0 auto;
      }
      div.foot-img>img{width: 100%;}
    
    /* 푸터 */
    div.foot-container {
      width: 1920px;
      height: 340px;
    }
      div.foot-container > div.foot_inner {
        box-sizing: border-box;
        display: flex;
        flex-flow: row nowrap;
        width: 1320px;
        height: 100%;
        padding: 50px 10px 0 30px;
        margin: 0 auto;
        font-family: 'Pretendard-Light';
        font-size: 11pt;
      }
        div.footer-left {
          width:65% ;
        }
          div.footer-left > div.pay-logo {
            width: 132px;
            height: 47px;
            margin-bottom: 30px;
          }
          div.footer-left > div.pay-logo>img{width: 100%;}
          address {
            line-height: 1.4;
            font-style: normal;
          }
          ul.foot-txt {
            display: flex;
            flex-flow: row nowrap;
            margin-top: 68px;
            list-style: none;
          }
            ul.foot-txt > li {
              margin-right:15px;
            }
            ul.foot-txt > li > a{
              color: #191919;
            }
            div.footer-middle{
                width: 10%;
                font-family: 'Pretendard-SemiBold';
            }
        div.footer-right {
          width: 25%;
        }
          div.footer-right > div.foot-txt{
            line-height: 1.4;
          }
          div.footer-right > div:first-child {
            margin-bottom: 25px;
          }
/* //규선 */
