@import url(reset.css);

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Light';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
  font-weight:400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
  font-weight:600;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Bold'; 
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-ExtraBold'; 
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}



/* common */
body {
  font-family: 'Pretendard-Regular';
  font-weight: 400;
  font-style: normal;
  color: #191919;
}

div#wrap {
  overflow: hidden;
}

a, a:focus {
  text-decoration: none;
  color: #333;
}

/* layout */
div#container {
  width: 1320px;
  margin: 50px auto 0;
  /* background: aqua; */
}
div#container::after {
  content: "";
  clear: both;
  display: block;
}

aside#aside {
  width: 330px;
  float: left;
  background: #FAFAFA;
}
main#main {
  width: 900px;
  float: right;
  /* background: aquamarine; */
}


/* header */
#header {
  position: relative;
  width: 1920px;
}
.header_inner1,
.header_inner2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1320px;
  max-width: 1320px;
  margin: 0 auto;
  padding: 17px 15px;
}
/* 주황색 라인 */
.header_inner1::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 1920px;
  height: 2px;
  background-color: #ff8a3d;
}

/* 검색창 */
.srch_input {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  left: -55px;
  width: 480px;
  height: 50px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: #f2f3f6;
  text-indent: -9999px;
}
.srch_input input {
  flex: 1;
  border: 0;
  background-color: transparent;
  color: black;
  font-size: 15px;
  text-indent: 14px;
}
.srch_input input:focus,
.srch_input input:active {
  outline: none;
}
.srch_input input::placeholder {
  color: #777;
  font-family: 'Pretendard-Regular';
}
/* x 버튼 삭제 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}

.bg-SEARCH {
  display: block;
  position: relative;
  width: 34px;
  height: 34px;
  background-color: #fff;
  border-radius: 100px;
}
.bg-SEARCH::after {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: 19px;
  width: 18px;
  height: 18px;
  background: url("../images/index/source/icon/css_sprites.png") -53px -117px;
  transform: translate(-50%, -50%);
  z-index: 5;
}

/* 채팅하기 */
.btn_chat {
  display: block;
  padding: 17px 24px 16px;
  background-color: #ff8a3d;
  border-radius: 100px;
  color: #fff;
  font-family: 'GmarketSansMedium';
  font-size: 15px;
}

/* 주메뉴 */
#nav ul {
  display: flex;
  align-items: center;
  gap: 24px;
  line-height: 0px;
  font-size: 15px;
  font-family: 'GmarketSansMedium';
}
#nav ul li a:hover {
  color: #9f9f9f;
}

/* 탑메뉴 */
.topMenu {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: 'GmarketSansMedium';
}
.topMenu a {
  font-size: 15px;
  color: #9f9f9f;
}
.topMenu a:hover {
  color: #333;
}

/* 중고거래 카테고리 */
.category_menu {
  position: relative;
}
.category_title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  color: #333;
  font-family: 'GmarketSansBold';
}

/* 햄버거 */
.category_title::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  transition-delay: .1s;
  background: url("../images/index/source/icon/css_sprites.png") -10px -117px;
}
/* 햄버거 클릭하면 좌측 화살표로 변경 */
.category_title.on::before {
  background: url("../images/index/source/icon/arrow_left.png") no-repeat center;
}

/* 하위메뉴 */
.menu_wrap {
  position: absolute;
  left: -40px;
  top: 40px;
  width: 290px;
  height: 0;
  padding: 0 40px;
  font-family: 'Pretendard-Regular';
  background-color: #fff;
  overflow: hidden;
  transition: all .4s ease-out;
  z-index: 10;
}
/* 하위메뉴 슬라이드 */
.slide_menu {
  max-height: 0;
  background-color: #fff;
  overflow: hidden;
  transition: max-height .4s ease-out;
}
.slide_menu.active {
  /* active 붙었을때 border 제거 (border-top으로 할 경우 안사라짐) */
  border: 0;
  transition: max-height .4s ease-out;
}

/* 하위메뉴 타이틀 */
.menu_title {
  position: relative;
}
.menu_title>ul>li.menu_p {
  line-height: .7;
}
.menu_title>a {
  display: flex;
  align-items: center;
  padding: 12px 17px 12px;
  gap: 20px;
  border-bottom: 2px solid #d9d9d9;
  box-sizing: border-box;
  font-size: 15px;
  font-family: 'Pretendard-Bold';
}
.title_top a {
  border-top: 4px solid #d9d9d9;
  /* border-top-width: 4px; */
}
.title_beauty>a {
  text-indent: -5px;
}
.menu_p a {
  display: block;
  font-size: 15px;
  color: #191919;
}

/* 하위메뉴 아이콘 */
.title_top>a::before {
  background: url("../images/index/source/icon/css_sprites_accordion.png") -10px -10px;
}

.title_life>a::before {
  background: url("../images/index/source/icon/css_sprites_accordion.png") -54px -10px;
}

.title_digital>a::before {
  background: url("../images/index/source/icon/css_sprites_accordion.png") -10px -54px;
}

.title_fashion>a::before {
  background: url("../images/index/source/icon/css_sprites_accordion.png") -54px -54px;
}

.title_beauty>a::before {
  margin-left: 5px;
  background: url("../images/index/source/icon/css_sprites_accordion.png") -140px -10px;
}

.title_pet>a::before {
  background: url("../images/index/source/icon/css_sprites_accordion.png") -98px -49px;
}

.title_car>a::before {
  background: url("../images/index/source/icon/css_sprites_accordion.png") -98px -10px;
}
.title_top a::before,
.title_life a::before,
.title_digital a::before,
.title_fashion a::before,
.title_beauty a::before,
.title_pet a::before,
.title_car a::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
}

/* 하위메뉴 화살표 */
.menu_title:nth-of-type(2)>a:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 240px;
  width: 30px;
  height: 30px;
  background: url(../images/index/source/icon/ico_arrow_top.svg) no-repeat 8px 10px;
  transform: rotate(-90deg);
}
.menu_title:nth-of-type(3)>a::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 240px;
  width: 30px;
  height: 30px;
  background: url(../images/index/source/icon/ico_arrow_top.svg) no-repeat 8px 10px;
  transform: rotate(-90deg);
}
.menu_title:nth-of-type(4)>a::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 240px;
  width: 30px;
  height: 30px;
  background: url(../images/index/source/icon/ico_arrow_top.svg) no-repeat 8px 10px;
  transform: rotate(-90deg);
}
.menu_title:nth-of-type(6)>a::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 240px;
  width: 30px;
  height: 30px;
  background: url(../images/index/source/icon/ico_arrow_top.svg) no-repeat 8px 10px;
  transform: rotate(-90deg);
}
.menu_title:nth-of-type(7)>a::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 240px;
  width: 30px;
  height: 30px;
  background: url(../images/index/source/icon/ico_arrow_top.svg) no-repeat 8px 10px;
  transform: rotate(-90deg);
}
/* active 붙으면 화살표 변경 */
.menu_title.active:nth-of-type(2)>a:after {
  background-position: 15px 46%;
  transform: rotate(90deg);
}
.menu_title.active:nth-of-type(3)>a:after {
  background-position: 15px 46%;
  transform: rotate(90deg);
}
.menu_title.active:nth-of-type(4)>a:after {
  background-position: 15px 46%;
  transform: rotate(90deg);
}
.menu_title.active:nth-of-type(6)>a:after {
  background-position: 15px 46%;
  transform: rotate(90deg);
}
.menu_title.active:nth-of-type(7)>a:after {
  background-position: 15px 46%;
  transform: rotate(90deg);
}

/* 하위메뉴 내용 */
.cont_life,
.cont_digital,
.cont_fashion,
.cont_pet,
.cont_car {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  /* 하위메뉴에 있던 상하 패딩 제거 */ 
  padding: 0 20px;
  background-color: #fff;
}
/* 하위메뉴 각 마지막 자식의 bottom에만 여백 주기 */
.menu_p:last-child a{
  padding-bottom: 20px;
}
.cont_life,
.cont_digital,
.cont_fashion,
.cont_pet {
  border-bottom: 2px solid #d9d9d9;
  background-color: #fff;
}
.cont_car {
  border-bottom: 4px solid #d9d9d9;
}
.cont_car {
  margin-bottom: 30px;
}

/* aside 프로필 */
div.profile {
  width: 100%;
  height: 351px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border-bottom: solid 4px #FF8A3D;
}
div.profile > img {
  width: 217px;
  height: 217px;
  margin-top: 40px;
  object-fit: cover;
}
div.profile > a {
  margin-top: 27px;
  width: 290px;
  height: 45px;
  line-height: 45px;
  background: #FF8A3D;
  color: #FEFEFE;
  border-radius: 5px;
  text-align: center;
}

aside#aside > ul > li > a {
  display: block;
  /* align-items: center; */
  box-sizing: border-box;
  width: 100%;
  height: 53px;
  line-height: 53px;
  border-bottom: solid 2px #ECECEC;

  font-family: 'Pretendard-SemiBold';
  font-weight: 600;
  padding-left: 50px;
  /* padding-left: 57px; */
}
aside#aside > ul > li:first-of-type > a {
  background: #fff url(../images/mypage/icon/ico_menu.svg) no-repeat 6% 50%;
}
aside#aside > ul > li:nth-of-type(2) > a {
  background: #fff url(../images/mypage/icon/ico_menu_02.svg) no-repeat 6% 50%;
}
aside#aside > ul > li:nth-of-type(3) > a {
  background: #fff url(../images/mypage/icon/ico_menu_03.svg) no-repeat 6% 50%;
}
aside#aside > ul > li:nth-of-type(4) > a {
  background: #fff url(../images/mypage/icon/ico_menu_04.svg) no-repeat 6% 50%;
}
aside#aside > ul > li:nth-of-type(5) > a {
  background: #fff url(../images/mypage/icon/ico_menu_05.svg) no-repeat 6% 50%;
}

aside#aside > ul > li:nth-child(1) > a > span {
  background-position: -96px -10px;
}
aside#aside > ul > li:nth-child(2) > a > span {
  background-position: -10px -10px;
}
aside#aside > ul > li:nth-child(3) > a > span {
  background-position: -53px -53px;
}
aside#aside > ul > li:nth-child(4) > a > span {
  background-position: -10px -53px;
}
aside#aside > ul > li:nth-child(5) > a > span {
  background-position: -53px -10px;
}
aside#aside > ul > li > ul {
  padding: 24px 57px;
}
aside#aside > ul > li > ul > li {}
aside#aside > ul > li > ul > li > a {
  display: block;
  line-height: 30px;
}
aside#aside > ul > li > ul > li > a:hover, aside#aside > ul > li > ul > li > a:focus {
  color: #FF8A3D;
  font-family: 'Pretendard-SemiBold';
  font-weight: 600;
}
/* 자물쇠 */
aside#aside > ul > li > ul > li > a::after {
  content:"";
  display: block;
  clear: both;
}

/* content1 */
section.content1::after {
  content:"";
  display: block;
  clear: both;
}
section.content1 > p {
  font-size: 32px;
  font-family: 'Pretendard-ExtraBold'; 
  font-weight: 600;
  margin-bottom: 30px;
}
section.content1 > div {
  box-sizing: border-box;
  width: 400px;
  height: 184px;
  border-radius: 20px;
  padding: 20px;
}
section.content1 > div > h3 {
  font-size: 25px;
  font-family: 'Pretendard-Bold'; 
  font-weight: 600;
}
section.content1 > div.mnDegree {
  position: relative;
  float: left;
  margin-left: 20px;
  background: #FFF0E5;
}
section.content1 > div.mnDegree > ul.degree {
  position: relative;
  margin-top: 10px;
  width: 346px;
  height: 43px;
}
/* section.content1 > div.mnDegree > ul.degree::after {
  content: "";
  clear: both;
  display: block;
} */
section.content1 > div.mnDegree > ul.degree > li {}
/* 온도바 */
section.content1 > div.mnDegree > ul.degree > li:first-child, section.content1 > div.mnDegree > ul.degree > li:nth-child(2) {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 16px;
  border-radius: 100px;
  text-indent: -9999px;
  overflow: hidden;
  background: #fff;
}
section.content1 > div.mnDegree > ul.degree > li:first-child {
  z-index: 30;
}
section.content1 > div.mnDegree > ul.degree > li:nth-child(2) {
  z-index: 35;
  width: 152px;
  background: #FF8A3D;
}
section.content1 > div.mnDegree > ul.degree > li:nth-child(3) {
  position: absolute;
  font-size: 12px;
  color: #727272;
  left: 110px;
  top: 3px;
}
section.content1 > div.mnDegree > ul.degree > li:nth-child(3) > span:last-child::after {
  content: "";
  display: block;
  position: absolute;
  clear: both;
  width: 7px;
  height: 4px;
  background: url(../images/mypage/icon/ico_triangle.svg) no-repeat 0 0;
  top: 17px;
  left: 50%;
  transform: translateX(-50%);
}

section.content1 > div.mnDegree > ul.degree > li:nth-child(4) {
  position: absolute;
  top: -1px;
  right: 0;
  display: flex;
  align-items: center;
}
section.content1 > div.mnDegree > ul.degree > li:nth-child(4) > span {
  display: block;
  width: 16px;
  height: 15px;
  background: url(../images/mypage/icon/ico_smile.svg) no-repeat 0 0;
  text-indent: -9999px;
  margin-left: 5px;
  overflow: hidden;
  color: #3C3B3B;
}
section.content1 > div.mnDegree > ul.rate {
  display: flex;
  position: absolute;
  bottom: 20px;
}
section.content1 > div.mnDegree > ul.rate > li {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  width: 120px;
  margin-left: 40px;
}
section.content1 > div.mnDegree > ul.rate > li::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../images/mypage/icon/ico_heart.svg) no-repeat 0 -1.5px;
  position: absolute;
  left: -20px;
  top: 3px;
}
section.content1 > div.mnDegree > ul.rate > li:last-child::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  background: url(../images/mypage/icon/ico_chat.svg) no-repeat 0 0;
  top: 2px;
}
section.content1 > div.mnDegree > ul.rate > li > span {
  font-size: 10px;
  margin-top: 3px;
  color: #727272;
}
section.content1 > div.mnDegree > span {
  position: absolute;
  top: 25px;
  right: 35px;
  padding-right: 12px;
  background: url(../images/mypage/icon/ico_arrow_right.svg) no-repeat 99% 48%;
}

section.content1 > div.daangnPay {
  position: relative;
  float: right;
  margin-right: 20px;
  background: #EAF7E4;
}
section.content1 > div.daangnPay > h3 {
  text-indent: -9999px;
  overflow: hidden;
  width: 90px;
  height: 32px;
  background: url(../images/mypage/images/ico_pay_img.svg) no-repeat;
}
section.content1 > div.daangnPay > p {
  font-size: 12px;
  color : #727272;
  margin-top: 7px;
}
section.content1 > div.daangnPay > p:nth-of-type(2) {
  font-size: 25px;
  color: #191919;
  font-family: 'Pretendard-SemiBold';
  font-weight: 600;
}
section.content1 > div.daangnPay > p:nth-of-type(2) > span {
  font-size: 18px;
}
section.content1 > div.daangnPay > ul {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
section.content1 > div.daangnPay > ul > li {
  text-align: center;
}
section.content1 > div.daangnPay > ul > li > a {
  position: relative;
  display: block;
  width: 165px;
  height: 37px;
  background: #fff;
  border-radius: 5px;
  line-height: 37px;
  font-size: 14px;
  font-family: 'Pretendard-SemiBold';
  font-weight: 600;
}
section.content1 > div.daangnPay > ul > li > a::before {
  content:"";
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../images/mypage/icon/ico_coin.svg) no-repeat 0 0;
  margin-right: 3px;
  vertical-align: text-top;
}
section.content1 > div.daangnPay > ul > li:last-child > a::before {
  width: 16px;
  height: 16px;
  background: url(../images/mypage/icon/ico_dollar.svg) no-repeat 0 0;

}
section.content1 > div.daangnPay > span {
  position: absolute;
  top: 25px;
  right: 35px;
  padding-right: 12px;
  background: url(../images/mypage/icon/ico_arrow_right.svg) no-repeat 99% 48%;
}

/* content2 */
section.content2 {
  margin-top: 70px;
}

section.content2 > h2 {
  font-size: 32px;
  font-family: 'Pretendard-ExtraBold'; 
  font-weight: 400;
  margin-bottom: 30px;
}
section.content2 > article.sales {
  position: relative;
  height: 500px;
  /* border: solid 1px blue; */
  /* 요소들이 absolute라서 height 정해줌 */
}
section.content2 > article h3 {
  font-size: 24px;
  font-family: 'Pretendard-Bold'; 
  font-weight: 600;
  margin-bottom: 20px;
}

section.content2 > article.sales > dl {
  position: absolute;
  top: 40px;
  left: 0;
  width: 880px;
  height: 400px;
}

section.content2 > article.sales > dl > div {
  box-sizing: border-box;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 90%;
  display: flex;
  column-gap: 30px;
  align-items: center;
  background: #FAFAFA;
  padding: 0 20px;
  visibility: hidden;
  overflow: hidden;
}
section.content2 > article.sales > dl.active > div {
  visibility: visible;
}
section.content2 > article.sales > dl > p {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1.5;
  z-index: 60;
}

section.content2 > article.sales > dl:first-of-type > div {z-index: 40;}
section.content2 > article.sales > dl:nth-of-type(2) > div {z-index: 30;}
section.content2 > article.sales > dl:nth-of-type(3) > div {z-index: 20;}

section.content2 > article > dl dt > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 15px;
  z-index: 50;
}

section.content2 > article > dl:nth-of-type(2) dt > a{
  left: 150px;
}
section.content2 > article > dl:nth-of-type(3) dt > a{
  left: 300px;
}

section.content2 > article.sales > dl.active dt > a{
  font-family: 'Pretendard-SemiBold';
  font-weight: 600;
  border-bottom: solid 2px #FF8A3D;
}

section.content2 > article.sales > dl dd {
  display: flex;
  flex-flow: column nowrap;
  line-height: 1;
  height: 271px;
}

section.content2 > article.sales > dl dd > a img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 5px;
}
section.content2 > article.sales > dl dd > a > p {
  font-size: 13px;
  margin-top: 5px;
}
section.content2 > article.sales > dl dd > a > p:last-of-type {
  font-family: 'Pretendard-Bold'; 
  font-weight: 600;
}
section.content2 > article.sales > dl dd > a > p:last-of-type > span {
  font-size: 10px;
  margin-left: 2px;
}
section.content2 > article.sales > dl dd > span {
  font-size: 10px;
  margin-top: 5px;
}
section.content2 > article.sales > dl dd > span:last-of-type {
  color: #777777;
}
section.content2 > article.purchase {
  margin-bottom: 100px;
}
section.content2 > article.purchase > div {
  width: 880px;
  height: 400px;
  display: flex;
  column-gap: 30px;
  align-items: center;  
  justify-content: center;
  background: #FAFAFA;
  text-align: center;
  line-height: 150%;
}

section.content2 > article.budget > h3 {
  font-size: 24px;
  font-family: 'Pretendard-Bold'; 
  font-weight: 600;
  margin-bottom: 20px;
}
section.content2 > article.budget > div {
  position: relative;
  width: 880px;
  box-sizing: border-box;
  border: solid 1px #d9d9d9;
  border-radius: 5px;
  padding: 37px 48px 16px 48px;
}
section.content2 > article.budget > div > p:first-child {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #ff8a3d;
  font-size: 32px;
  text-align: center;
  line-height: 120px;
  color: #fff;
  font-family: 'Pretendard-Bold'; 
  font-weight: 600;
  top: 37px;
  right: 46px
}
section.content2 > article.budget > div > h4 {
  font-family: 'Pretendard-Bold'; 
  font-weight: 600;
  font-size: 32px;
  
}
section.content2 > article.budget > div > p:nth-of-type(2) {
  font-size: 15px;
  color: #838383;
  margin-top: 10px;
  margin-bottom: 40px;
}
section.content2 > article.budget > div > dl {
  width: 100%;
  border-bottom: solid 1px #d9d9d9;
}
section.content2 > article.budget > div > dl > dt {
  font-size: 20px;
}
section.content2 > article.budget > div > dl > dd {
  font-size: 32px;
  font-family: 'Pretendard-SemiBold';
  font-weight: 600;
  margin-bottom: 10px;
}
section.content2 > article.budget > div > p:last-of-type {
  text-align: center;
  padding: 35px 0 20px 0;
  color : #838383;
  font-size: 15px;
}

section.content2 > div.banner {
  position: relative;
  width: 880px;
  height: 151px;
  background: #FDF6EC url(../images/mypage/images/ico_mini_banner.svg) no-repeat 8% 50%;
  /* padding-left: 24px; */
  box-sizing: border-box;
  margin-bottom: 200px;
  margin-top: 100px;
}
section.content2 > div.banner > p {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  position: absolute;
  left: 180px;
  top: 48px;
}
section.content2 > div.banner > p > span:first-child {
  font-size: 24px;
  font-family: 'Pretendard-Bold'; 
  font-weight: 400;
  margin-bottom: 5px;
}
section.content2 > div.banner > p > span {
  font-size: 20px;
}
section.content2 > div.banner > span > a {
  position: absolute;
  top: 50%;
  right: 50px;
  display: block;
  width: 198px;
  height: 50px;
  background: #ff8a3d;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  transform: translateY(-50%);
}
div.fullBanner {
  position: relative;
  width: 1920px;
  /* background: pink; */
}
div.fullBanner > img {
  width: 100%;
  z-index: 1;
}
div.fullBanner > p:nth-child(2) {
  position: absolute;
  top: 110px;
  left: 320px;
  font-size: 36px;
  font-family: 'Pretendard-Bold'; 
  font-weight: 600;
}
div.fullBanner > p:last-child {
  position: absolute;
  top: 220px;
  left: 320px;
  font-size: 24px;
}

/* 푸터 */
div.foot-container {
width: 1920px;
height: 340px;
}
div.foot-container > div.foot_inner {
box-sizing: border-box;
display: flex;
flex-flow: row nowrap;
width: 1320px;
height: 100%;
padding: 50px 10px 0 30px;
margin: 0 auto;
font-family: 'Pretendard-Light';
font-size: 11pt;
}
div.footer-left {
width:65% ;
}
div.footer-left > div.pay-logo {
width: 132px;
height: 47px;
margin-bottom: 30px;
}
address {
line-height: 1.4;
font-style: normal;
}
ul.foot-txt {
display: flex;
flex-flow: row nowrap;
margin-top: 68px;
list-style: none;
}
ul.foot-txt > li {
  margin-right:15px;
}
ul.foot-txt > li > a{
  color: #191919;
}
div.footer-middle{
    width: 10%;
    font-family: 'Pretendard-SemiBold';
}
div.footer-right {
width: 25%;
}
div.footer-right > div.foot-txt{
line-height: 1.4;
}
div.footer-right > div:first-child {
margin-bottom: 25px;
}